/* inter-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/inter-v20-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-100italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/inter-v20-latin-100italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/inter-v20-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-200italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/inter-v20-latin-200italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/inter-v20-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/inter-v20-latin-300italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/inter-v20-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/inter-v20-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/inter-v20-latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/inter-v20-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/inter-v20-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/inter-v20-latin-800italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-v20-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-900italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/inter-v20-latin-900italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
}

a {
  text-decoration: none;
}

a:hover {
  transform: scale(1.1);
  transition: all 0.4s linear;
}

span {
  color: #6b7280;
}

p {
  color: #6b7280;
}

button:hover {
  transform: scale(1.1);
  transition: all 0.4s linear;
  cursor: pointer;
}

header {
  box-shadow: black;
}

.container {
  width: 100%;
  max-width: 1216px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
}

.links {
  display: flex;
  align-items: center;
  gap: 32px;

  i {
    display: none;
  }

  a {
    color: #0f1729;
    font-weight: 500;
    line-height: 20px;
  }

  button {
    width: 64px;
    padding: 10px 16px;
    border: none;
    border-radius: 12px;
    background-color: #4346ef;
    color: white;
  }
}

@media (max-width: 768px) {
  .links {
    gap: 12px;
    i {
      display: block;
    }
    a {
      display: none;
    }
  }
}

.birinchi-section {
  background: linear-gradient(#f1f1fe, #f7f1fd);
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 128px;
  padding-bottom: 128px;
}
.section h1 {
  font-size: 60px;
  span {
    color: #4346ef;
  }
}
.section p {
  margin-top: 24px;
  margin-bottom: 24px;
  max-width: 488px;
  font-size: 20px;
  color: #6b7280;
  line-height: 28px;
}
.section .btn {
  width: 193px;
  height: 48px;
  border-radius: 16px;
  background: linear-gradient(#4346ef, #8524e5);
  color: white;
  border: none;
}

.button {
  display: flex;
  gap: 16px;
}
.section .btn-2 {
  width: 157px;
  height: 48px;
  border-radius: 12px;
  background-color: #e5e7eb;
  color: black;
  border: none;
}
.section .btn-2:hover {
  border: 2px solid blue;
  cursor: pointer;
}
.section-img {
  margin-top: 70px;
}

@media (max-width: 1159px) {
  .one-section {
    margin: 0 auto;
  }

  .section-img {
    img {
      display: none;
    }
  }
}

@media (max-width: 420px) {
  .button {
    display: flex;
    flex-direction: column;
  }
}

.two-section {
  padding-top: 128px;
  padding-bottom: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reason {
  max-width: 672px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  margin-bottom: 64px;

  span {
    text-align: center;
    color: #6b7280;
  }
}

.ability {
  display: flex;
  gap: 32px;
}

.card {
  max-width: 384px;
  border-radius: 16px;
  padding: 33px;
  border: 1px solid #e5e7eb;

  img {
    margin-bottom: 16px;
  }

  h2 {
    margin-bottom: 8.5px;
    font-weight: 600;
    color: #0f1729;
    font-size: 20px;
  }
  span {
    font-size: 16px;
    color: #6b7280;
  }
}

.card:hover {
  transform: scale(1.1);
  transition: all 0.4s;
}

@media (max-width: 900px) {
  .ability {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
  .card:hover {
    transform: scale(1.1);
    transition: all 0.4s;
  }
}

.posts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
  gap: 10px;
}

.posts-cards {
  display: flex;
  gap: 32px;
  padding-bottom: 128px;
}

.posts-card {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  max-width: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .image {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 192px;
  }
}

.post-button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 130px;
  height: 44px;
  border: 2px solid #e5e7eb;
  border-radius: 12px;
  padding: 12px 26px;
}

.post-button:hover {
  border: 2px solid #4346ef;
}

.card-text {
  padding: 24px;

  h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;

    margin-bottom: 8px;
  }

  span {
    display: block;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  p {
    margin-bottom: 16px;
  }

  a {
    color: #4346ef;
    display: flex;
    align-items: center;
    gap: 4px;
  }
  img {
    color: #4346ef;
  }
}

.footer {
  padding: 40px 0;
  h3,
  h2 {
    margin-bottom: 10px;
  }
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 32px;
}

.footer-left {
  max-width: 300px;
  margin-bottom: 52px;
}

.foot-logo img {
  margin-bottom: 10px;
}

.foot-icons {
  display: flex;
  gap: 20px;
}

.footer-links a {
  display: block;
  margin-bottom: 6px;
  text-decoration: none;
  color: #6b7280;
}

.end-qism {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.end-hr {
  margin-bottom: 32px;
}

.footer-bottom {
  text-align: center;
  font-size: 14px;
  color: #6b7280;
}

@media (max-width: 900px) {
  .posts-cards {
    flex-direction: column;
  }
  .posts-card {
    margin: 0 auto;
  }
}

@media (max-width: 550px) {
  .footer-top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .end-qism {
    align-items: start;
    margin: 0 auto;
  }
}
